* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #FAF6EF;
}

.topbar {
    height: 60px;
    background: #9b6b3f
}

.page-title {
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    color: #8B6F47;

    position: relative;
    left: 340px;
    /* ซ้าย → ขวา
    top: 60px;
    /* บน → ล่าง */

}


.layout {
    display: flex;
    height: 100vh;
}

h1 {
    color: rgb(107, 78, 46);
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.header-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-row label {
    width: auto;
    white-space: nowrap;
}

.header-row input {
    width: 250px;
}

.header-row select {
    width: 150px;
}

.card {
    width: 900px;
    background-color: #EFE7DA;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgb(107, 78, 46);
    position: relative;
}

.card_user {
    width: 520px;
    background-color: #EFE7DA;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgb(107, 78, 46);
    position: relative;
}

.card-header {
    background-color: #D6BEA1;
    padding: 15px 20px;
    border-radius: 16px 16px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: rgb(107, 78, 46);
}

.card-body {
    padding: 25px;
    padding-bottom: 60px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 15px;

}

.form-row-user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 8px;
}

.radio-group {
    display: flex;
    gap: 5px;
}

.radio-label {
    min-width: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}

label {
    color: #5A3B23;
    min-width: 80px;
    margin-right: 15px;
    white-space: nowrap;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #c8a57a;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 80px;
}

.actions {
    position: absolute;
    right: 25px;
    bottom: 25px;
    display: flex;
    gap: 9px;
}

.btn {
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.btn.cancel {
    background-color: #D6BEA1;
}

.btn.save {
    background-color: #8B6F47;
    color: #fff;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 20px;
    margin-bottom: 10px;
}

.row.three {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    gap: 15px;
}

.field {
    display: flex;
    align-items: center;
    gap: 15px;
}

.field input,
.field select {
    width: 200px;
}

.field_t {
    display: flex;
    align-items: center;
    gap: 10px;
}

.field_t input,
.field_t select {
    width: 120px;
}

/* .phone {
    grid-column: 1 / 2;   
}

.email {
    grid-column: 2 / 2;  
} */