<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #FAF6EF;
}
/* Layout */
.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #EDE8E1;
  /* color: #9b6b3f; */
  padding: 20px;
}

.sidebar h2 {
    color: rgb(107, 78, 46);
  display: block;
  font-size: 24px;
  font-weight: 700;
  height: 28px;
  margin-block-end: 30px;
  margin-block-start: 19.90625px;
  margin-bottom: 30px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  width: 220px;
}

.sidebar ul {
  list-style: none;
    cursor: pointer;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: rgb(107, 78, 46);
}

.sidebar li:hover,
.sidebar li.active {
  background: #C6B099;
}

/* Main */
.main {
  flex: 1;
}

/* Topbar */
.topbar {
  height: 60px;
  background: #9b6b3f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.user-icon {
  width: 36px;
  height: 36px;
  background: #ccc;
  border-radius: 50%;
}

/* Content */
.content {
  padding: 20px;
  
}

.page-title {
  margin-bottom: 20px;
  color: #65453A;}

/* Cards */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.stock-card {
  background: #D2B394;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px #65453A;
  color: #65453A;
  width: 100%;
  max-width: 250px;
}

.stock-card h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #936C45;
}

.stock-value {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

</style>