* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Layout */
.layout {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #efe6d8;
  color: #9b6b3f;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
    cursor: pointer;
}

.sidebar li {
  padding: 12px;
  border-radius: 6px;
}

.sidebar li:hover,
.sidebar li.active {
  background: #d3b38c;
}

/* Main */
.main {
  flex: 1;
  background: #f5f5f5;
}

/* Topbar */
.topbar {
  height: 60px;
  background: #9b6b3f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.user-icon {
  width: 36px;
  height: 36px;
  background: #ccc;
  border-radius: 50%;
}

/* Content */
.content {
  padding: 20px;
  
}

.page-title {
  margin-bottom: 20px;
  color: #65453A;}

/* Cards */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.stock-card {
  background: #D2B394;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px #65453A;
  color: #65453A;
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  transition: transform 0.2s;
}

.stock-card:hover {
  transform: scale(1.05);
}

.stock-card h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #936C45;
}

.stock-value {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}
