
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h2 {
    color: rgb(107, 78, 46);
  display: block;
  font-size: 24px;
  font-weight: 700;
  height: 28px;
  margin-block-end: 30px;
  margin-block-start: 19.90625px;
  margin-bottom: 30px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  width: 220px;
}

body {
  margin: 0;
  background: #FAF6EF;
}

.layout {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #EDE8E1;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 5px;
}

.sidebar ul {
  list-style: none;
  /* padding: 10px; */
  color: rgb(107, 78, 46);
}

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
}

.sidebar li.active,
.sidebar li:hover {
  background: #C6B099;
}

/* Main */
.main {
  flex: 1;
}

.main h1{
    font-size: 48px;
    color: #906A43;
    margin: 30px 0px 0px 30px;
}

.topbar {
  height: 60px;
  background: #9b6b3f;
}

.content {
  padding: 20px;
}

.toolbar {
  display: flex;
  align-items: center;
   padding: 8px;
   color: rgb(107, 78, 46);
}

.toolbar-right {
  margin-left: auto;          
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(107, 78, 46);                 
}

.toolbar-right input {
  width: 260px;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #caa57a;
  color: rgb(107, 78, 46);
}

.toolbar-center input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #caa57a;
}

.year-select,
.month-select {
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid #D2B394;
  background-color: #caa57a;
  cursor: pointer;
  color: rgb(107, 78, 46);
}

/* ปุ่ม */
.btn {
  background: #caa57a;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(107, 78, 46);
}

/* Table */
table {
  width: 100%;
  padding: 8px;
  border-collapse: collapse;
  background: #f3eee4;
  border-radius: 10px;
  overflow: hidden;
  color: rgb(107, 78, 46);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  color: rgb(107, 78, 46);
}

th {
  background: #d8b999;
}

.action-col {
    text-align: right;
    padding-right: 12px;
}

.edit {
    width: 70px;
    height: 50px;
    object-fit: contain;
}

.delete {
    width: 70px;
    height: 50px;
    object-fit: contain;
}

/* .pagination{
    margin-top: 30px;
    text-align: right;
    color: #65453A;
}

.btn-one{
    background: #caa57a;
    border: none;
    padding: 5px 12px;
    border-radius: 20px;
    cursor: pointer;
    color: #65453A;
    font-size: 16px;
} */

