<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Roasting</title>
    <link rel="icon" href="/Coffee/ejs/Picture/logo.png">
    <link rel="stylesheet" href="../CSS/edit.css">
</head>

<body>
    <main class="main">
        <header class="topbar"></header>

        <form action="/add_stockroast" method="post" novalidate>
            <!-- <h2 class="page-title-r">เพิ่มคลังสินค้า</h2> -->
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <div class="header-row">
                            <h2 class="title">เพิ่มคลังสินค้า / คลังเมล็ดกาแฟคั่ว</h2>
                            <!-- <label for="stock">เลือกรายการคลัง :</label>
                            <select class="select-stock">
                                <option value="" disabled selected hidden>คลิกเพื่อเลือก</option>
                                <option value="cherry">คลังเมล็ดกาแฟเชอร์รี่</option>
                                <option value="kala">คลังเมล็ดกาแฟกะลา</option>
                                <option value="san">คลังเมล็ดกาแฟสาร</option>
                                <option value="roast">คลังเมล็ดกาแฟคั่ว</option>
                            </select> -->
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="field">
                                <label class="main-label">สายพันธุ์ :</label>

                                <div class="radio-group">
                                    <label class="radio-label">
                                        <input type="radio" name="species" value="arabica"> อาราบิก้า
                                    </label>
                                    <label class="radio-label">
                                        <input type="radio" name="species" value="robusta"> โรบัสต้า
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="form-row">
                                    <label for="">กระบวนการ : </label>
                                    <select name="process_method" class="select-process" id="process">
                                        <option value="" disabled selected hidden>คลิกเพื่อเลือก</option>
                                        <option value="washed">Washed Process</option>
                                        <option value="honey">Honey Process</option>
                                        <option value="dry">Dry Process</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <div class="form-row">
                                    <label for="">ระดับการคั่ว : </label>
                                    <select name="roast_level" class="select-roast" id="roast_level">
                                        <option value="" disabled selected hidden>คลิกเพื่อเลือก</option>
                                        <option value="light">คั่วอ่อน</option>
                                        <option value="medium">คั่วกลาง</option>
                                        <option value="mediumplus">คั่วกลาง +</option>
                                        <option value="mediumdark">คั่วกลางเข้ม</option>
                                        <option value="dark">คั่วเข้ม</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="quantity">เปอร์เซ็นการสูญเสีย :</label>
                                    <input type="number" id="loss_percent" name="loss_percent">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label>ปริมาณก่อนคั่ว (กิโลกรัม) :</label>
                                    <input type="number" name="weight_before">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label>ปริมาณหลังคั่ว (กิโลกรัม) :</label>
                                    <input type="number" name="weight_after">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="roast_date">วันที่คั่ว :</label>
                                    <input type="date" id="roast_date" name="roast_date">
                                </div>
                            </div>
                            

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="expire_date">วันหมดอายุ :</label>
                                    <input type="date" id="expire_date" name="expire_date">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="price">ขนาดแพ็ค :</label>
                                    <select name="pack_size" class="select-roast" id="pack_size">
                                        <option value="" disabled selected hidden>คลิกเพื่อเลือก</option>
                                        <option value="a">250 g.</option>
                                        <option value="b">500 g.</option>
                                        <option value="c">1,000 g.</option>
                                        <option value="d">1,500 g.</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="price">จำนวนแพ็ค :</label>
                                    <input type="number" id="pack_count" name="pack_count">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="note">ราคาแพ็ค :</label>
                                    <input type="text" id="sell_price" name="sell_price">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="user_id">ผู้รับผิดชอบ :</label>
                                    <input type="text" id="user_id" name="user_id">
                                </div>
                            </div>

                        </div>


                        <!-- <div class="row">
                            <div class="field">
                                <div class="form-row">
                                    <label for="">กระบวนการ : </label>
                                    <select name="process_method" class="select-process" id="process">
                                        <option value="" disabled selected hidden>คลิกเพื่อเลือก</option>
                                        <option value="washed">Washed Process</option>
                                        <option value="honey">Honey Process</option>
                                        <option value="dry">Dry Process</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <div class="form-row">
                                    <label for="">ระดับการคั่ว : </label>
                                    <select name="roast_level" class="select-roast" id="roast_level">
                                        <option value="" disabled selected hidden>คลิกเพื่อเลือก</option>
                                        <option value="light">คั่วอ่อน</option>
                                        <option value="medium">คั่วกลาง</option>
                                        <option value="mediumplus">คั่วกลาง +</option>
                                        <option value="mediumdark">คั่วกลางเข้ม</option>
                                        <option value="dark">คั่วเข้ม</option>
                                    </select>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="row three">
                            <div class="field_t">
                                <div class="form-row">
                                    <label for="roast_date">วันที่คั่ว :</label>
                                    <input type="date" id="roast_date" name="roast_date">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="quantity">เปอร์เซ็นการสูญเสีย :</label>
                                    <input type="number" id="loss_percent" name="loss_percent">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="price">วันหมดอายุ :</label>
                                    <input type="date" id="exprie_date" name="exprie_date">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="price">ขนาดแพ็ค :</label>
                                    <input type="text" id="pack_size" name="pack_size">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="price">จำนวนแพ็ค :</label>
                                    <input type="number" id="pack_count" name="pack_count">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="note">ราคาแพ็ค :</label>
                                    <input type="text" id="sell_price" name="sell_price">
                                </div>
                            </div>

                            <div class="field_t">
                                <div class="form-row">
                                    <label for="note">ผู้รับผิดชอบ :</label>
                                    <input type="text" id="role" name="role">
                                </div>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="field">
                                <div class="form-row">
                                    <label for="note">หมายเหตุ :</label>
                                    <textarea id="note" name="note"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="actions">
                        <button type="reset" class="btn cancle" onclick="history.back()">ยกเลิก</button>
                        <button type="submit" class="btn save">บันทึก</button>
                    </div>

                </div>
            </div>

            <!-- <script>
                function savedata() {
                    alert("บันทึกข้อมูลเรียบร้อย");
                    history.back();
                }
            </script> -->
    </main>
    <script src="../JS/add_stocksan.js"></script>
</body>

</html>