<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Roasting</title>
    <link rel="icon" href="Picture/logo.png">
    <link rel="stylesheet" href="../CSS/stock.css">

</head>

<body>
    <!-- 
    <div class="Header">
        <img class="user-icon" src="">

    </div>

   <div class="layout">
        <div class="sidebar">

            <ul class="menu">
                <li onclick="window.location.href='/index'">หน้าแรก</li>
                <li onclick="window.location.href='/stockall'">คลังสินค้า</li>
                <li onclick="window.location.href='/customer'">รายชื่อลูกค้า</li>
                <li class="active" onclick="window.location.href='/plan'">รายการสั่งซื้อ</li>
                <li onclick="window.location.href='/user'">จัดการสิทธิ์</li>
                <li class="menu" onclick="logout()">ออกจากระบบ</li>
            </ul>
        </div>

    <main class="main">
        <header class="topbar"></header>
        <h1 class="page-title">ออเดอร์</h1>

        <section class="content">
            <div class="toolbar">
            <button class="btn" onclick="window.location.href='add_order_cus.html'">+ เพิ่มรายการสั่งซื้อ</button>

                <div class="toolbar-right">
                    <input type="text" placeholder="ค้นหา รหัสลูกค้า,ชื่อ,ระดับการคั่วและอื่นๆ">

                    <input type="date"> 
                </div>
            </div> -->

    <div class="layout">
        <aside class="sidebar">
            <h2>Coffee Roasting</h2>
            <ul>
                <li onclick="window.location.href='/index'">หน้าแรก</li>
                <li onclick="window.location.href='/stockall'">คลังสินค้า</li>
                <li onclick="window.location.href='/customer'">รายชื่อลูกค้า</li>
                <li class="active" onclick="window.location.href='/plan'">รายการสั่งซื้อ</li>
                <li onclick="window.location.href='/user'">จัดการสิทธิ์</li>
                <li class="menu" onclick="logout()">ออกจากระบบ</li>
            </ul>
        </aside>

        <main class="main">
            <header class="topbar"></header>
            <h1 class="page-title">รายการสั่งซื้อ</h1>
            <section class="content">
                <div class="toolbar">
                    <button class="btn" onclick="window.location.href='/add_order'">+
                        เพิ่มรายการสั่งซื้อ</button>

                    <div class="toolbar-right">
                        <input type="text" id="searchInput" placeholder="ค้นหา รหัสลูกค้า, ชื่อ, คั่ว, กระบวนการ,...">



                        <input type="date">
                    </div>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>รหัสลูกค้า</th>
                            <th>ชื่อ-นามสกุล</th>
                            <th>ระดับการคั่ว</th>
                            <th>กระบวนการ</th>
                            <th>สถานะ</th>
                            <th>รายละเอียด</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody id="orderTable"></tbody>

                </table>

                <!-- <div class="pagination">
                <button onclick="window.location.href='stock.html'">หน้าแรก</button>
                <button onclick="window.location.href='stock.html'">ก่อนหน้า</button>
                <span>หน้า 2 / 4</span>
                <button onclick="window.location.href='stocksan.html'">ถัดไป</button>
                <button onclick="window.location.href='stockroast.html'">สุดท้าย</button>
            </div> -->

            </section>
        </main>
    </div>
    <script src="../JS/plan.js"></script>
    <script src="../JS/login.js"></script>

</body>

</html>