<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Roasting</title>
    <link rel="icon" href="Picture/logo.png">
    <link rel="stylesheet" href="../CSS/stock.css">

</head>

<body>
    <div class="layout">

        <!-- Sidebar -->
        <aside class="sidebar">
            <h2 class="logo">Coffee Roasting</h2>
            <ul class="menu">
                <li onclick="window.location.href='/index'">หน้าแรก</li>
                <li class="active" onclick="window.location.href='/stockall'">คลังสินค้า</li>
                <li onclick="window.location.href='/customer'">รายชื่อลูกค้า</li>
                <li onclick="window.location.href='/plan'">รายการสั่งซื้อ</li>
                <li onclick="window.location.href='/user'">จัดการสิทธิ์</li>
            </ul>
        </aside>

        <main class="main">
            <header class="topbar"></header>
            <h1 class="page-title">คลังเมล็ดกาแฟกะลา</h1>

            <section class="content">
                <div class="toolbar">
                    <button class="btn" onclick="window.location.href='/add_stockkala'">+ เพิ่มรายการ</button>

                    <div class="toolbar-right">

                        <input type="text" id="searchInput" placeholder="ค้นหา สายพันธุ์ / กระบวนการ / ผู้รับผิดชอบ">

                        <input type="date" id="dateInput">

                    </div>


                </div>

                <table>
                    <thead>
                        <tr>
                            <th>สายพันธุ์</th>
                            <th>กระบวนการ</th>
                            <th>น้ำหนักก่อน (กก.)</th>
                            <th>น้ำหนักหลัง (กก.)</th>
                            <th>วันที่รับเข้า</th>
                            <th>ผู้รับผิดชอบ</th>
                            <th>หมายเหตุ</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody id="stockTable">
                        <!-- JS จะมาใส่ข้อมูลตรงนี้ -->
                    </tbody>
                </table>




            </section>
        </main>
        <script src="../JS/stockkala.js"></script>
</body>

</html>