<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <title>คลังเมล็ดกาแฟ</title>
  <link rel="stylesheet" href="../CSS/stockall.css">
  <link rel="icon" href="Picture/logo.png">

</head>

<body>

  <div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">
      <h2 class="logo">Coffee Roasting</h2>
      <ul class="menu">
        <li onclick="window.location.href='../ejs/index.ejs'">หน้าแรก</li>
        <li class="active">คลังสินค้า</li>
        <li onclick="window.location.href='../ejs/customer.ejs'">รายชื่อลูกค้า</li>
        <li onclick="window.location.href='../ejs/plan.ejs'">รายการสั่งซื้อ</li>
        <li onclick="window.location.href='../ejs/user.ejs'">จัดการสิทธิ์</li>
      </ul>
    </aside>

    <!-- Main -->
    <div class="main">

      <!-- Topbar -->
      <div class="topbar">
        <div class="user-icon"></div>
      </div>
      <h1 class="page-title">คลังเมล็ดกาแฟ</h1>

      <!-- Content -->
      <div class="content">
        <div class="card-grid">

          <div class="stock-card" onclick="window.location.href='../ejs/stock.ejs'">
            <h2>คลังเมล็ดกาแฟเชอร์รี่</h2>
            <p>ปริมาณกาแฟคงเหลือ</p>
            <div class="stock-value">0 KG</div>
          </div>

          <div class="stock-card" onclick="window.location.href='../ejs/stockkala.ejs'">
            <h2>คลังเมล็ดกาแฟกะลา</h2>
            <p>ปริมาณกาแฟคงเหลือ</p>
            <div class="stock-value">0 KG</div>
          </div>

          <div class="stock-card" onclick="window.location.href='../ejs/stocksan.ejs'">
            <h2>คลังเมล็ดกาแฟสาร</h2>
            <p>ปริมาณกาแฟคงเหลือ</p>
            <div class="stock-value">0 KG</div>
          </div>

          <div class="stock-card" onclick="window.location.href='../ejs/stockroast.ejs'">
            <h2>คลังเมล็ดกาแฟคั่ว</h2>
            <p>ปริมาณกาแฟคงเหลือ</p>
            <div class="stock-value">0 KG</div>
          </div>

        </div>
      </div>

    </div>
  </div>
      <script src="../JS/stockall.js"></script>
</body>

</html>