* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h2 {
    color: rgb(107, 78, 46);
    display: block;
    font-size: 24px;
    font-weight: 700;
    height: 28px;
    margin-block-end: 30px;
    margin-block-start: 19.90625px;
    margin-bottom: 30px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    width: 220px;
}

body {
    margin: 0;
    background-color: #FAF6EF;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #EDE8E1;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 5px;
}

.logo {
    margin-bottom: 30px;
    color: #6B4E2E;
}

.menu {
    list-style: none;
    color: rgb(107, 78, 46);
}

.menu li {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
}

.menu li.active,
.menu li:hover {
    background: #C6B099;
}

/* Main */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Topbar */
.topbar {
    height: 60px;
    background-color: #9b6b3f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    color: white;
}

/* Content */
.content {
    padding: 20px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 20px;
    color: #4A3320;
}

.card {
    background-color: #D8C2A3;
    border-radius: 12px;
    padding: 15px;
    min-height: 80px;
}

.card h3 {
    margin-top: 10px;
    color: #4A3320;
}

/* Panels */
.panels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.panel {
    background-color: #D8C2A3;
    border-radius: 16px;
    min-height: 180px;
}

.panel.wide {
    min-height: 260px;
}

.panel.tall {
    min-height: 260px;
}

</style>